<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dc.smartcity"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="19"/>

    <!-- 联网 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 使用存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 使用系统对话框的权限!-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            >
        <activity
                android:name="com.dc.smartcity.activity.WelcomeActivity"
                android:configChanges="keyboardHidden|navigation|orientation"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.dc.smartcity.activity.ServiceMarketActivity"
                android:theme="@style/ActivityTheme_Light.PageIndicatorDefaults"/>
        <activity
                android:name="com.dc.smartcity.activity.SearchServiceActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name="com.dc.smartcity.activity.ServiceListActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.LoginActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.MessageActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.AskDetailActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.WebViewActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.NewsDetailActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.SettingActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.MainActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.AboutActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.FeedbackActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.ModifyUserInfoAct"
                />
        <activity
                android:name="com.dc.smartcity.activity.AccountSettingActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.AuthAct"/>
        <activity
                android:name="com.dc.smartcity.activity.ChangeBindMobileAct"/>
        <activity
                android:name="com.dc.smartcity.activity.ChangePasswordAct"/>
        <activity
                android:name="com.dc.smartcity.activity.RegistAct"/>
        <activity
                android:name="com.dc.smartcity.activity.CordovaWebwiewActivity"/>
        <activity
                android:name="com.dc.smartcity.activity.PublicQuestAct"/>

        
        <!-- sharesdk -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 易信分享回调 -->
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- sharesdk -->
        
        <meta-data
                android:name="DC_H5_APP_VERSION"
                android:value="1"/>
        <meta-data
                android:name="DC_APPKEY"
                android:value="7586bdf953e849a295556ace30d01a25"/>
    </application>

</manifest>